<mat-toolbar class="encabezado">
  <div class="contenedorImg">
    <img class="logo" src="../../../assets/img/logo.webp"/>
  </div>
  <div class="contenedorMenu">
   <table>
      <tr>
         <td >
            <a [ngClass]="(dataDashboard$ | async)?.menuActivo == 'agenda' ? 'active' : ''"
            routerLink="/dashboard/paciente/agenda/{{id}}" >Agenda</a>
          
         </td>
         <td>
            <a  [ngClass]="(dataDashboard$ | async)?.menuActivo == 'nueva-cita' ? 'active' : ''"
            routerLink="/dashboard/paciente/nueva-cita/{{id}}" >Nueva cita</a>
            
         </td>
         <td>
            <a  [ngClass]="(dataDashboard$ | async)?.menuActivo == 'historial-clinico' ? 'active' : ''"
            routerLink="/dashboard/paciente/historial-clinico/{{id}}" 
            
            >Historial clínico</a>
         </td>
      </tr>
   </table>
  </div>
 <div class="contenedorLogout">
   <a class="boton" [routerLink]="['/logout']">
      <mat-icon class="icono">logout</mat-icon>
    </a>
 </div>
  
</mat-toolbar>
<router-outlet></router-outlet>
 
