<div class="contenedor_padre">
  <!-- Formulario para buscar la citas que tiene el paciente con cierto médico -->
  <div class="contenedor_hijo">
  <div class="mat-elevation-z8 tabla table-responsive ">
      <!-- Tabla de citas -->
      <table mat-table [dataSource]="dataSource" >
  
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef > Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
    
        <ng-container matColumnDef="horaInicio">
          <th mat-header-cell *matHeaderCellDef > Hora Inicio </th>
          <td mat-cell *matCellDef="let element"> {{element.horaInicio}} </td>
        </ng-container>

        <ng-container matColumnDef="horaFin">
          <th mat-header-cell *matHeaderCellDef > Hora Término</th>
          <td mat-cell *matCellDef="let element"> {{element.horaTermino}} </td>
        </ng-container>

        <ng-container matColumnDef="paciente">
          <th mat-header-cell *matHeaderCellDef>Paciente</th>
          <td mat-cell *matCellDef="let element"> {{element.nombrePaciente}} </td>
        </ng-container>
        
        <ng-container matColumnDef="consultorio">
          <th mat-header-cell *matHeaderCellDef>Consultorio</th>
          <td mat-cell *matCellDef="let element"> 
            {{element.consultorioMedico}}
           </td>
        </ng-container>
        <ng-container matColumnDef="modalidad">
          <th mat-header-cell *matHeaderCellDef > Modalidad </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.modalidad==1">Física</ng-container>
              <ng-container  *ngIf="element.modalidad==2">Telefónica</ng-container>
              <ng-container *ngIf="element.modalidad==3">Web</ng-container>
            </td>
        </ng-container>
  
  
         <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let element" class="opciones"> 
            <button class="btn btn-success"
            #tooltip="matTooltip"
            matTooltip="Ver información del paciente"
            (click)="verInformacionPaciente(element.idPaciente, element.idCita)">
              <mat-icon>assignment</mat-icon>
            </button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    </div>
  </div>