@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


  :root {
    --azul-rey: #0A1C40;
    --azul-marino: #112540;
    --azul-claro: #0176fe;
    --azul-cielo: #88C1F2;
    --negro: #0D0D0D;
  }
  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: var(--azul-rey);
    color: #fff;
}