<div class="contenedor_padre">
  <!-- Formulario para buscar la citas que tiene el paciente con cierto médico -->
  <div class="contenedor_hijo">
    <body>
        <h1>Datos del Paciente</h1>
        <table class="table table-striped tabla">
          <tr>
            <th>Nombre:</th>
            <td>{{paciente.nombrePaciente}}</td>
          </tr>
          <tr>
            <th>Edad:</th>
            <td>{{paciente.edadPaciente}}</td>
          </tr>
          <tr>
            <th>Fecha de Nacimiento:</th>
            <td>{{paciente.fechaNacimientoPaciente}}</td>
          </tr>
          <tr>
            <th>CURP:</th>
            <td>{{paciente.CURPPaciente}}</td>
          </tr>
          <tr>
            <th>Género:</th>
            <td>
              <ng-container *ngIf="paciente.generoPaciente==1">
                Masculino
              </ng-container>
              <ng-container *ngIf="paciente.generoPaciente==2">
              Femenino
              </ng-container >
              <ng-container *ngIf="paciente.generoPaciente==3">
                Prefirió no decirlo
              </ng-container>
             
            </td>
          </tr>
          <tr>
            <th>Teléfono:</th>
            <td>{{paciente.telefonoPaciente}}</td>
          </tr>
          <tr>
            <th>Correo electrónico:</th>
            <td>{{paciente.correoPaciente}}</td>
          </tr>
        </table>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="button" (click)="atenderPaciente()">Atender</button>
          <button class="btn btn-secondary" type="button" (click)="historialClinicoPaciente()">Checar historial</button>
          <button class="btn btn-secondary" type="button" (click)="regresar()">Regresar</button>
        </div>
    </body>
</div>
</div>

