<div class="contenedor">
  <div class="container">
    <!-- Formulario para la creación de una nueva cita -->
    <form class="row g-3" [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="col-12 titulo">
        <h2>Agendar cita</h2>
      </div>
      <mat-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>Datos personales</ng-template>
          <div class="row">
            <div class="form-group col-12">
              <label>Nombre completo</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                required
                formControlName="nombrePaciente"
                 [(ngModel)]="cita.nombrePaciente"
                 [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group col-6">
              <label>Fecha de nacimiento</label>
              <input
                type="date"
                class="form-control"
                autocomplete="off"
                required
                formControlName="fechaNacimientoPaciente"
                [(ngModel)]="cita.fechaNacimientoPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group col-6">
              <label>CURP</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                required
                formControlName="CURPPaciente"
                [(ngModel)]="cita.CURPPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group col-6">
              <label>Correo electrónico</label>
              <input
                type="email"
                class="form-control"
                autocomplete="off"
                required
                formControlName="correoPaciente"
                [(ngModel)]="cita.correoPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group col-6">
              <label>Número telefónico</label>
              <input
                type="tel"
                class="form-control"
                autocomplete="off"
                required
                formControlName="telefonoPaciente"
                [(ngModel)]="cita.telefonoPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group col-6">
              <label>Dirección</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                required
                formControlName="direccionPaciente"
                [(ngModel)]="cita.direccionPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group mt-3">
              <button  type="button" class="btn btn-secondary" matStepperNext>Siguiente</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Datos del médico</ng-template>
          <div class="row">
            <div class="form-group col-12">
              <label>Especialidad</label>
              <input
                type="text"
                placeholder="Elige una especialidad"
                aria-label="Number"
                matInput
                formControlName="especialidadMedico"
                [(ngModel)]="cita.especialidadMedico"
                [matAutocomplete]="auto"
                class="form-control"
                required
              />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
                <mat-option *ngFor="let option of filteredEspecialidades | async" [value]="option">
                  {{ option.nombreEspecialidad }}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="form-group col-12" *ngIf="cita.especialidadMedico">
              <label>Médico</label>
              <input
                type="text"
                placeholder="Elige un médico"
                aria-label="Number"
                matInput
                formControlName="medico"
                [(ngModel)]="cita.medico"
                [matAutocomplete]="auto2"
                class="form-control"
                required
              />
              <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" (optionSelected)="onSelectionChangeMedico($event)"  >
                <mat-option *ngFor="let option of filteredMedicos | async" [value]="option">
                  {{ option.nombreMedico }}
                </mat-option>
              </mat-autocomplete>
            </div>
  
            <div class="form-group mt-3">
              <button  type="button" class="btn btn-secondary" matStepperPrevious>
                Anterior
              </button>
              <button type="button" class="btn btn-secondary mx-2" matStepperNext>
                Siguiente
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Datos de la cita</ng-template>
  
          <div class="row">
            <div class="form-group col-6">
              <label>Modalidad</label>
              <select
                class="form-select"
                aria-label="Default select example"
                required
                formControlName="modalidad"
                [(ngModel)]="cita.modalidad"
              >
                <option value="1">Física</option>
                <option value="2">Telefónica</option>
                <option value="3">Web</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label>Fecha</label>
              <input
                type="date"
                class="form-control"
                autocomplete="off"
                required
                formControlName="fecha"
                [(ngModel)]="cita.fecha"
                (ngModelChange)="onFechaChange($event)"
              />
            </div>
            <div class="form-group col-6" *ngIf="cita.fecha && cita.medico" >
              <label>Hora</label>
              <select
                class="form-select"
                aria-label="Default select example"
                required
                formControlName="hora"
                [(ngModel)]="cita.hora"
              >
                <option *ngFor="let opcion of citasDisponibles" [value]="opcion.idCita">{{ opcion.horaInicio }}-{{ opcion.horaTermino }}</option>
              </select>
            </div>
            <div class="form-group mt-3">
              <button type="button" class="btn btn-secondary" matStepperPrevious>
                Anterior
              </button>
              <button
                type="submit"
                class="btn btn-primary mx-2"
                [disabled]="form.invalid"
              >
                Guardar
              </button>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>

