<div class="contenedor">
  <div class="container">
    <!-- Formulario para la creación de una nueva cita -->
    <form class="row g-3" [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="col-12 titulo">
        <h2>Agendar cita</h2>
      </div>
      <mat-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>Datos personales</ng-template>
          <div class="row">
            <div class="form-group col-12">
              <label>Nombre completo</label>
              <ng-container *ngIf="autocompletadoPaciente">
                <input
                type="text"
                class="form-control"
                autocomplete="off"
                required
                formControlName="nombrePaciente"
                 [(ngModel)]="cita.nombrePaciente"
                 [matAutocomplete]="auto3"
              />
              
                <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" (optionSelected)="onSelectionChangePaciente($event)">
                  <mat-option *ngFor="let option of filteredPacientes | async" [value]="option">
                    {{ option.nombrePaciente }}
                  </mat-option>
                </mat-autocomplete>
              </ng-container>
              <ng-container *ngIf="autocompletadoPaciente===false">
                <input
                type="text"
                class="form-control"
                autocomplete="off"
                required
                formControlName="nombrePaciente"
                 [(ngModel)]="cita.nombrePaciente"
                 [readonly]="isReadOnlyNombre"
              />

              </ng-container>
            </div>
            <div class="form-group col-6">
              <label>Fecha de nacimiento</label>
              <input
                type="date"
                class="form-control"
                autocomplete="off"
                required
                formControlName="fechaNacimientoPaciente"
                [(ngModel)]="cita.fechaNacimientoPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group col-6">
              <label class="labelCURP">CURP</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                required
                formControlName="CURPPaciente"
                [(ngModel)]="cita.CURPPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group col-6">
              <label>Correo electrónico</label>
              <input
                type="email"
                class="form-control"
                autocomplete="off"
                required
                formControlName="correoPaciente"
                [(ngModel)]="cita.correoPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group col-6">
              <label>Número telefónico</label>
              <input
                type="tel"
                class="form-control"
                autocomplete="off"
                required
                formControlName="telefonoPaciente"
                [(ngModel)]="cita.telefonoPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group col-6">
              <label>Dirección</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                required
                formControlName="direccionPaciente"
                [(ngModel)]="cita.direccionPaciente"
                [readonly]="isReadOnly"
              />
            </div>
            <div class="form-group mt-3">
              <button  type="button" class="btn btn-secondary" matStepperNext>Siguiente</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Datos del médico</ng-template>
          <div class="row">
            <div class="form-group col-12">
              <label>Especialidad</label>
              <select   [(ngModel)]="cita.especialidadMedico" class="form-select"    class="form-control"   formControlName="especialidadMedico" required  (ngModelChange)="changeEspecialidad()">
                <option *ngFor="let opcion of especialidades" [value]="opcion.idEspecialidad">
                  {{opcion.siglaEspecialidad}} - {{opcion.nombreEspecialidad}}
                </option>
              </select>
            
            </div>
            <div class="form-group col-12" *ngIf="medicosFiltrados.length!=0 && cita.especialidadMedico">
              <label>Médico</label>
              <select   [(ngModel)]="cita.idMedico" class="form-select"    class="form-control"   formControlName="medico" required  (ngModelChange)="changeMedico()">
                <option *ngFor="let opcion of medicosFiltrados" [value]="opcion.idMedico">
                  {{opcion.nombreMedico}}
                </option>
              </select>
            </div>
  
            <div class="form-group mt-3">
              <button  type="button" class="btn btn-secondary" matStepperPrevious>
                Anterior
              </button>
              <button type="button" class="btn btn-secondary mx-2" matStepperNext>
                Siguiente
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Datos de la cita</ng-template>
  
          <div class="row">
            <div class="form-group col-6">
              <label>Modalidad</label>
              <select
                class="form-select"
                aria-label="Default select example"
                required
                formControlName="modalidad"
                [(ngModel)]="cita.modalidad"
              >
                <option value="1">Física</option>
                <option value="2">Telefónica</option>
                <option value="3">Web</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label>Fecha</label>
              <input
                type="date"
                class="form-control"
                autocomplete="off"
                required
                formControlName="fecha"
                [(ngModel)]="cita.fecha"
                (ngModelChange)="onFechaChange($event)"
              />
            </div>
            <div class="form-group col-6" *ngIf="cita.fecha && cita.idMedico && citasDisponibles.length!=0" >
              <label>Hora</label>
              <select
                class="form-select"
                aria-label="Default select example"
                required
                formControlName="hora"
                [(ngModel)]="cita.hora"
              >
                <option *ngFor="let opcion of citasDisponibles" [value]="opcion.idCita">{{ opcion.horaInicio }}-{{ opcion.horaTermino }}</option>
              </select>
            </div>
            <div class="form-group mt-3">
              <button type="button" class="btn btn-secondary" matStepperPrevious>
                Anterior
              </button>
              <button
                type="submit"
                class="btn btn-primary mx-2"
                [disabled]="form.invalid"
              >
                Guardar
              </button>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>

