<div class="contenedor">
  <div class="container">
    <form class="row g-3" [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="col-12 titulo">
        <h2>Cree sus citas</h2>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label class="form-label">Fecha inicio</label>
          <input
            type="date"
            form
            class="form-control"
            autocomplete="off"
            formControlName="fechaInicio"
            [(ngModel)]="agenda.fechaInicio"
            required
          />
        </div>
        <div class="form-group col-6">
          <label class="form-label">Fecha fin</label>
          <input
            type="date"
            form
            class="form-control"
            autocomplete="off"
            formControlName="fechaFin"
            [(ngModel)]="agenda.fechaFin"
            required
          />
        </div>
        <div class="form-group col-6">
          <label class="form-label">Hora inicio</label>
          <input
            type="time"
            form
            class="form-control"
            formControlName="horaInicio"
            [(ngModel)]="agenda.horaInicio"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label for="fin" class="form-label">Hora de fin:</label>
          <input
            type="time"
            class="form-control"
            formControlName="horaFin"
            [(ngModel)]="agenda.horaFin"
          />
        </div>
        <div class="form-group col-12">
          <label for="periodo" class="form-label"
            >Periodo de tiempo por consulta (en min):</label
          >
          <input
            type="number"
            class="form-control"
            placeholder="Ej: 30 minutos"
            formControlName="duracionCitas"
            [(ngModel)]="agenda.duracionCitas"
          />
        </div>
        <div class="form-group col-12">
          <label for="almuerzo" class="form-label">Hora de almuerzo:</label>
          <div class="input-group">
            <input
              type="time"
              class="form-control"
              placeholder="Ej: 12:00"
              formControlName="inicioAlmuerzo"
              [(ngModel)]="agenda.inicioAlmuerzo"
            />
            <span class="input-group-text">a</span>
            <input
              type="time"
              class="form-control"
              placeholder="Ej: 14:00"
              formControlName="finAlmuerzo"
              [(ngModel)]="agenda.finAlmuerzo"
            />
          </div>
        </div>
        <div class="form-group col-12 mt-3">
          <button
            type="submit"
            class="btn btn-primary "
            [disabled]="form.invalid"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
