.contenedor {
    width: 100%;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center; /* centra verticalmente */
    height: 80%;
  }
table{
    width: 100%;
    margin: auto; /* centra horizontalmente dentro del div */
    table-layout: fixed;
}
.example-viewport {
  width: 90%;
  height: 80%;
 
}

td{
  text-align: center; 
  vertical-align: middle;
  
}
button{
  display: block; margin: 0 auto;
}

td,th{
  width: 20%;
}
tr{
  text-align: center;
  vertical-align: middle;
}