.contenedor_padre{
  width: 100%;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  height: 85.9%;
  position: relative;
}

.contenedor_hijo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
}
.formulario{
  height: 20%;
  width: 100%;
  }

.tabla{
  height: 80%;
width: 100%;
}

.example-viewport {
  width: 100%;
  height: 80%;
 
}

/* 
td{
  text-align: center; 
  vertical-align: middle;
} */

.mat-mdc-table .mdc-data-table__header-row {

  background-color: var(--azul-marino);

}
th{
  color: white;
  text-align: center;
}
.opciones{
  
  justify-content: center;
  align-items: center;
  text-align: center;
}

mat-icon{
  display: flex;
}
.titulo{
  display: flex;
}
.titulo button{
margin: auto;
}

@media (max-width: 375px) {
  h1{
    font-size:larger;
  }
}