  .titulo {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .titulo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }

  .flex-container {
    display: flex;
    height: 533px;
  }
  
  p,
  div {
    margin: 0;
    padding: 0;
    border: none;
  }