<form [formGroup]="form">
<div class="contenedor">
    <div class="row elemento">
        <div class="form-group col-6">
          <label>Especialidad</label>
          <input
            type="text"
            placeholder="Elige una especialidad"
            aria-label="Number"
            matInput
            formControlName="especialidad"
            [matAutocomplete]="auto"
            class="form-control"
            required
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group col-6">
          <label>Médico</label>
          <input
            type="text"
            placeholder="Elige un médico"
            aria-label="Number"
            matInput
            formControlName="medico"
            [matAutocomplete]="auto2"
            class="form-control"
            required
          />
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredMedicos| async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>
      
</div>
</div>
</form>
<div class="contenedor" *ngIf="form.get('medico')?.value">
    <full-calendar [options]="calendarOptions" class="rounded" class="elemento"></full-calendar>
 </div>