<form [formGroup]="form">
<div class="contenedor">
    <div class="row elemento">
        <div class="form-group col-6">
          <label>Médico</label>
          <input
            type="text"
            placeholder="Elige un médico"
            aria-label="Number"
            matInput
            formControlName="medico"
            [(ngModel)]="nombreMedico"
            [matAutocomplete]="auto3"
            class="form-control"

            required
          />
          <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" (optionSelected)="onSelectionChange($event)">
            <mat-option *ngFor="let option of filteredMedicos | async" [value]="option">
              {{ option.nombreMedico}}
            </mat-option>
          </mat-autocomplete>
        </div>
      
</div>
</div>
</form>
<div class="contenedor" *ngIf="idMedico">
    <full-calendar [options]="calendarOptions" class="rounded" class="elemento calendario"></full-calendar>
 </div>