<div class="contenedor_padre">
  <div class="contenedor_hijo">
    <div class="formulario">
      <form class="row g-3">
      
        <div class="col-4">
          <label  class="visually-hidden">Tipo de usuario</label>
          <select class="form-select" placeholder="Tipo de usuario">
            <option selected>Seleccione el tipo de usuario</option>
            <option value="1">Médico</option>
            <option value="2">Paciente</option>
            <option value="3">Recepcionista</option>
          </select>
        </div>
          <div class="col-4">
          <label  class="visually-hidden">CURP</label>
          <input type="text" class="form-control"  placeholder="CURP">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mb-3">Buscar</button>
        </div>
      </form>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" >
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef > ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef > Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="curp">
          <th mat-header-cell *matHeaderCellDef > CURP </th>
          <td mat-cell *matCellDef="let element"> {{element.curp}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

         <!-- Symbol Column -->
         <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let element" class="opciones"> 
            <button type="button" class="btn btn-secondary ">	<mat-icon>edit</mat-icon></button>
            <button type="button" class="btn btn-warning mx-1"><mat-icon>block</mat-icon></button>
            <button type="button" class="btn btn-danger"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    
 </div>

</div>
