.parent_div {
  background: #f9fbfc;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child_div {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 60px 40px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #d9e3eb;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.button{
  width: 100%;
  height: 8vh;
  font-weight: bold;
}

.mat-mdc-raised-button:not(:disabled) {
  border-color: #0176fe;
  background-color: var(--azul-claro);
  color: white;
}
