<div class="parent_div">
  <div class="child_div">
    <div class="_side-branding_ul4pwa">
      <img src="/assets/img/logo.svg" alt="Nimbo" class="_logo_ul4pwa" />
      <img src="/assets/img/dr-login.svg" alt="Nimbo" class="_image_ul4pwa" />
    </div>
    <div>
      <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmitLogin()">
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input type="text" matInput  autocomplete="off" formControlName="usuario"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input  type="password" matInput autocomplete="off" formControlName="password" />
        </mat-form-field>
        <button type="submit" class="button" mat-raised-button [disabled]="form.invalid" (click)="ingresar()">INICIAR SESIÓN</button>
      </form>
    </div>
  </div>
</div>