<div class="contenedor">
  <div class="container">
    <form class="row g-3" [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="col-12 titulo">
        <h2>Registrar Médico</h2>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>Nombre completo</label>
          <input type="text" form class="form-control"
          autocomplete="off"
          formControlName="nombre"
          required>
        </div>
        <div class="form-group col-6">
          <label>CURP</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            formControlName="curp"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Fecha de nacimiento</label>
          <input
            type="date"
            class="form-control"
            autocomplete="off"
            formControlName="fechaNacimiento"
            required
            id="fecha_nacimiento" name="fecha_nacimiento" 
          />
        </div>
        <div class="form-group col-6">
          <label>Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            formControlName="correo"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Número telefónico</label>
          <input
            type="tel"
            class="form-control"
            formControlName="telefono"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Dirección</label>
          <input
            type="text"
            class="form-control"
            formControlName="direccion"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Especialidad</label>
          <input
            type="text"
            class="form-control"
            formControlName="especialidad"
            autocomplete="off"
            required
            id="especialidad" name="especialidad"
          />
        </div>
        <div class="form-group col-6">
          <label>Consultorio</label>
          <input
            type="text"
            class="form-control"
            formControlName="consultorio"
            autocomplete="off"
            required
            id="consultorio" name="consultorio"
          />
        </div>
        <div class="form-group col-6">
          <label>Certificado de titulación:</label>
          <input
            type="file"
            class="form-control"
            formControlName="certificado"
            autocomplete="off"
            required
            id="certificado" name="certificado"
          />
        </div>
        <div class="form-group col-12 mt-3">
          <button type="button" class="btn btn-secondary">Regresar</button>
          <button
            type="submit"
            class="btn btn-primary mx-2"
            [disabled]="form.invalid"
          >
            Guardar
          </button>
        </div>
 
      </div>
    </form>
  </div>
</div>