<div class="contenedor">
  <div class="container">
    <form class="row g-3" [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="col-12 titulo">
        <h2>{{titulo}}</h2>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>Nombre completo</label>
          <input type="text" form class="form-control"
          autocomplete="off"
          formControlName="nombreMedico"
          [(ngModel)]="medico.nombreMedico"
          required>
        </div>
        <div class="form-group col-6">
          <label>CURP</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            formControlName="CURPMedico"
            [(ngModel)]="medico.CURPMedico"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Fecha de nacimiento</label>
          <input
            type="date"
            class="form-control"
            autocomplete="off"
            formControlName="fechaNacimientoMedico"
            [(ngModel)]="medico.fechaNacimientoMedico"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            formControlName="correoMedico"
            [(ngModel)]="medico.correoMedico"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Número telefónico</label>
          <input
            type="tel"
            class="form-control"
            formControlName="telefonoMedico"
            [(ngModel)]="medico.telefonoMedico"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Dirección</label>
          <input
            type="text"
            class="form-control"
            formControlName="direccionMedico"
            [(ngModel)]="medico.direccionMedico"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Especialidad</label>
          <input
            type="text"
            class="form-control"
            formControlName="especialidadMedico"
            [(ngModel)]="medico.especialidadMedico"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Consultorio</label>
          <input
            type="text"
            class="form-control"
            formControlName="consultorioMedico"
            [(ngModel)]="medico.consultorioMedico"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Cédula profesional</label>
          <input
            type="text"
            class="form-control"
            formControlName="cedulaProfesionalMedico"
            [(ngModel)]="medico.cedulaProfesionalMedico"
            autocomplete="off"
            required
            
          />
        </div>
        <div class="form-group col-12 mt-3">
          <button type="button" class="btn btn-secondary">Regresar</button>
          <button
            type="submit"
            class="btn btn-primary mx-2"
            [disabled]="form.invalid"
          >
            Guardar
          </button>
        </div>
 
      </div>
    </form>
  </div>
</div>