<div class="contenedor">
  <div class="container">
    <form class="row g-3" >
      <div class="col-12 titulo">
        <h2>Registrar Médico</h2>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>Nombre completo</label>
          <input type="text" id="nombre" name="nombre" class="form-control"
          autocomplete="off"
          required>
        </div>
        <div class="form-group col-6">
          <label>CURP</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Fecha de nacimiento</label>
          <input
            type="date"
            class="form-control"
            autocomplete="off"
            required
            id="fecha_nacimiento" name="fecha_nacimiento" 
          />
        </div>
        <div class="form-group col-6">
          <label>Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Número telefónico</label>
          <input
            type="tel"
            class="form-control"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Dirección</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-6">
          <label>Especialidad</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            required
            id="especialidad" name="especialidad"
          />
        </div>
        <div class="form-group col-6">
          <label>Consultorio</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            required
            id="consultorio" name="consultorio"
          />
        </div>
        <div class="form-group col-6">
          <label>Certificado de titulación:</label>
          <input
            type="file"
            class="form-control"
            autocomplete="off"
            required
            id="certificado" name="certificado"
          />
        </div>
        <div class="form-group col-12 mt-3">
          <button type="button" class="btn btn-secondary">Regresar</button>
          <button
            type="submit"
            class="btn btn-primary mx-2"
          >
            Guardar
          </button>
        </div>
 
      </div>
    </form>
  </div>
</div>