.example-spacer {
    flex: 1 1 auto;
    background-color: aqua;
    width: 72%;
  }
  .navbar{
    height: 5.5rem;
    background-color: #0a1b43;
  }

  .logo{
    width: 10rem;
    padding-left: 5%;
  }
   
  .icono:hover{
    color: black;
  }
  
.titulo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
  .contenedorImg{
    width: 50%;
  }
  .boton{
    width: 50%;
    text-align: right;
  }
  .icono{
    color: white;    
    padding-right: 5%;
}
     
