<div class="contenedor">
  <div class="container">
    <form class="row g-3" [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="col-12 titulo">
        <h2>{{titulo}}</h2>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>Nombre completo</label>
          <input
            type="text"
            form class="form-control"
            autocomplete="off"
            formControlName="nombreRecepcionista"
            required
            [(ngModel)]="recepcionista.nombreRecepcionista"
          />
        </div>
        <div class="form-group col-6">
          <label>CURP</label>
          <input
            type="text"
            class="form-control"
            autocomplete="off"
            formControlName="CURPRecepcionista"
            required
            [(ngModel)]="recepcionista.CURPRecepcionista"
          />
        </div>
        <div class="form-group col-6">
          <label>Fecha de nacimiento</label>
          <input
            type="date"
            class="form-control"
            autocomplete="off"
            formControlName="fechaNacimientoRecepcionista"
            required
            [(ngModel)]="recepcionista.fechaNacimientoRecepcionista"
          />
        </div>
        <div class="form-group col-6">
          <label>Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            formControlName="correoRecepcionista"
            autocomplete="off"
            required
            [(ngModel)]="recepcionista.correoRecepcionista"
          />
        </div>
        <div class="form-group col-6">
          <label>Número telefónico</label>
          <input
            type="tel"
            class="form-control"
            formControlName="telefonoRecepcionista"
            autocomplete="off"
            required
            [(ngModel)]="recepcionista.telefonoRecepcionista"
          />
        </div>
        <div class="form-group col-6">
          <label>Dirección</label>
          <input
            type="text"
            class="form-control"
            formControlName="direccionRecepcionista"
            autocomplete="off"
            required
            [(ngModel)]="recepcionista.direccionRecepcionista"
          />
        </div>
        <div class="form-group col-6">
          <label>Bloqueado</label>
          <mat-slide-toggle  class="form-control"  formControlName="bloqueadoRecepcionista" [(ngModel)]="recepcionista.bloqueadoRecepcionista"></mat-slide-toggle>
        </div>
        <div class="form-group col-12 mt-3">
          <button type="button" class="btn btn-secondary" routerLink="/dashboard/administracion/">Regresar</button>
          <button
            type="submit"
            class="btn btn-primary mx-2"
            [disabled]="form.invalid"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
