<div class="contenedor_padre">
  <!-- Formulario para buscar la citas que tiene el paciente con cierto médico -->
  <div class="contenedor_hijo">
    <div class="formulario">
      <form [formGroup]="form"  (ngSubmit)="submit()">
        <div class="contenedor">
          <div class="row elemento">
            <div class="form-group col-4">
              <label>CURP del paciente</label>
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                required
                formControlName="curp"
                [(ngModel)]="curpPaciente"
              />
            </div>
            <div class="form-group col-4">
              <label>Médico</label>
              <select
                [(ngModel)]="idMedico"
                class="form-select"
                class="form-control"
                formControlName="idMedico"
                required
              >
                <option *ngFor="let opcion of medicos" [value]="opcion.idMedico">
                  {{ opcion.nombreMedico }}
                </option>
              </select>
            </div>
            <div class="form-group col-4 contenedor-button">
              <button
              type="submit"
              class="btn btn-primary mx-2"
              [disabled]="form.invalid"
            >
           Buscar

            </button>
            </div>
          </div>
        </div>
      </form>
    </div>

 
    <div class="mat-elevation-z8 tabla table-responsive">
      <!-- Tabla de citas -->
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
        </ng-container>

        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef>Hora</th>
          <td mat-cell *matCellDef="let element">{{ element.horaInicio }}</td>
        </ng-container>
        <ng-container matColumnDef="paciente">
          <th mat-header-cell *matHeaderCellDef>Paciente</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombrePaciente }}
          </td>
        </ng-container>

        <ng-container matColumnDef="medico">
          <th mat-header-cell *matHeaderCellDef>Médico</th>
          <td mat-cell *matCellDef="let element">{{ element.nombreMedico }}</td>
        </ng-container>

        <ng-container matColumnDef="consultorio">
          <th mat-header-cell *matHeaderCellDef>Consultorio</th>
          <td mat-cell *matCellDef="let element">
            {{ element.consultorioMedico }}
          </td>
        </ng-container>
        <ng-container matColumnDef="modalidad">
          <th mat-header-cell *matHeaderCellDef>Modalidad</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.modalidad == 1">Física</ng-container>
            <ng-container *ngIf="element.modalidad == 2"
              >Telefónica</ng-container
            >
            <ng-container *ngIf="element.modalidad == 3">Web</ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let element" class="opciones">
            <button
              type="button"
              class="btn btn-danger"
              #tooltip="matTooltip"
              matTooltip="Cancelar cita"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="seleccionarCita(element.idCita)"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Está seguro?</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">La cita se cancelará permanentemente.</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="cancelarCita()"
            >
              Cancelar cita
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
